{% for beer in beers %}
<div class="col-md-3 my-4">
  <div class="card text-center h-100">
    <img src="{{beer.image--url}}" class="card-img-top mt-2" alt="{{beer.name}}">
    <div class="card-body">
      <h5 class="card-title"><a class="text-decoration-none" href="/beer/{{beer.id}}">{{beer.name}}</a></h5>
      <h6 class="card-subtitle mb-2 text-muted">{{beer.tagline}}</h6>
      <!-- <p class="card-text">{{beer.description|truncate-desc}}</p> -->
    </div>
    <div class="card-footer">
      <a href="/beer/{{beer.id}}" class="card-link">Crack open</a>
    </div>
  </div>
</div>
{% endfor %}
