{% extends "layouts/default.html" %}
{% block content %}
<h1>Glossary</h1>
<ul>
  <li>
    <h4>ABV</h4>
    <p>
      ABV, or alcohol by volume, is the standard measurement, used worldwide, to assess the strength of a particular beer.  The ABV scale is simple in the fact that the higher the ABV, the more alcohol that beer contains.  Lighter beers range from 4-4.5% ABV, with percentages getting higher with heavier styles of beer.
    </p>
  </li>
  <li>
    <h4>IBU</h4>
    <p>
      IBU, or international bittering unit, is a less discernable abbreviation that is as, if not more, important when it comes to selecting the type of beer that is right for you.  The IBU scale measures the bitterness levels in beer (based on the amount of hops added) and helps beer drinkers determine which styles of brews are ideal for their taste buds.  This scale can be tricky, however, because higher IBU levels do not always equate to bitterer flavor. 
    </p>
  </li>
</ul>
<h3>References:</h3>
<ul>
  <li><a href="https://shorecraftbeer.com/abv-and-ibu-explained/">ABV and IBU explained</a></li>
</ul>
{% endblock %}
