{% extends "layouts/default.html" %}
{% block content %}
<h1>Know your Beers!</h1>
<div id="beer-list" class="row">
  {% include "_beer-list.html" %}
</div>
<div class="d-flex justify-content-center htmx-indicator">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">
      Loading...
    </span> 
  </div>
</div>
<div id="btn-more" class="d-grid gap-2 col-3 mx-auto">
<button class="btn btn-primary" hx-get="/more?page=2" hx-target="#beer-list" hx-swap="beforeend">More Beer</button>
</div>
{% endblock %}
