{% extends "layouts/default.html" %}
{% block content %}
<div class="row">
  <div class="col-md-6">
    <h1>{{beer.name}}</h1>
    <p class="fst-italic text-muted">{{beer.tagline}}</p>
    <p>{{beer.description}}</p>
    <p><span class="fw-bold">ABV:</span> {{beer.abv}}</p>
    <p><span class="fw-bold">IBU:</span> {{beer.ibu}}</p>
    <p><span class="fw-bold">PH:</span> {{beer.ph}}</p>
    <p><span class="fw-bold">Volume:</span> {{beer.volume.value}} {{beer.volume.unit}}</p>
    <p><span class="fw-bold">Food pairing:</span> {{beer.food--pairing}}</p>
    <p><span class="fw-bold">Brewers tips:</span> {{beer.brewers--tips}}</p>

  </div>
  <div class="col-md-6">
    <img src="{{beer.image--url}}">
  </div>
</div>
{% endblock %}
